In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt

# Load Data

In [2]:
train = pd.read_csv("../processed_train.csv", index_col=[0])

In [3]:
train.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,...,pickup_timeofday,pickup_ispeak,pickup_day,dropoff_timeofday,dropoff_ispeak,dropoff_day,pickup_borough,dropoff_borough,distance,car_distance
0,id3628018,2,2016-04-28 00:11:32,2016-04-28 00:18:39,1,-74.001747,40.726269,-73.987221,40.720470,N,...,midnight,False,3,midnight,False,3,manhattan,manhattan,1386,1822.9
1,id2990498,2,2016-01-15 14:23:04,2016-01-15 14:45:48,1,-73.974228,40.746971,-73.957207,40.785931,N,...,afternoon,False,4,afternoon,False,4,manhattan,manhattan,4559,6979.4
2,id0522450,1,2016-06-01 00:52:02,2016-06-01 01:20:55,1,-73.984909,40.745129,-73.885300,40.747421,N,...,midnight,False,2,midnight,False,2,manhattan,queens,8417,9450.2
3,id1985934,2,2016-04-29 09:20:47,2016-04-29 09:29:40,4,-73.994507,40.755333,-73.994942,40.736542,N,...,morning,True,4,morning,True,4,manhattan,manhattan,2087,2859.0
4,id3861553,2,2016-01-13 21:06:10,2016-01-13 21:18:43,1,-73.997017,40.717991,-73.977028,40.685154,N,...,night,False,2,night,False,2,manhattan,brooklyn,4019,4250.2

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 21 columns):
id                    100000 non-null object
vendor_id             100000 non-null int64
pickup_datetime       100000 non-null object
dropoff_datetime      100000 non-null object
passenger_count       100000 non-null int64
pickup_longitude      100000 non-null float64
pickup_latitude       100000 non-null float64
dropoff_longitude     100000 non-null float64
dropoff_latitude      100000 non-null float64
store_and_fwd_flag    100000 non-null object
trip_duration         100000 non-null int64
pickup_timeofday      100000 non-null object
pickup_ispeak         100000 non-null bool
pickup_day            100000 non-null int64
dropoff_timeofday     100000 non-null object
dropoff_ispeak        100000 non-null bool
dropoff_day           100000 non-null int64
pickup_borough        99932 non-null object
dropoff_borough       99568 non-null object
distance              100000 non-null int64
car_distance          99997 non-null float64
dtypes: bool(2), float64(5), int64(6), object(8)
memory usage: 15.4+ MB

In [5]:
train.describe()

,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration,pickup_day,dropoff_day,distance,car_distance
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.00000,100000.000000,100000.000000,100000.00000,99997.000000
mean,1.537360,1.662850,-73.973260,40.750690,-73.973512,40.751660,955.67803,3.050540,3.055240,3439.35562,4636.935789
std,0.498605,1.311334,0.055733,0.031000,0.053620,0.034498,3183.68737,1.955532,1.958062,3927.91425,5394.873337
min,1.000000,0.000000,-74.510605,37.851051,-74.663643,37.851051,1.00000,0.000000,0.000000,0.00000,0.000000
25%,1.000000,1.000000,-73.991920,40.736992,-73.991379,40.735995,401.00000,1.000000,1.000000,1238.00000,1667.400000
50%,2.000000,1.000000,-73.981812,40.753799,-73.979774,40.754330,662.00000,3.000000,3.000000,2101.00000,2758.300000
75%,2.000000,2.000000,-73.967628,40.768295,-73.963264,40.769704,1075.00000,5.000000,5.000000,3898.00000,5107.600000
max,2.000000,6.000000,-61.335529,43.486885,-61.335529,43.486885,86369.00000,6.000000,6.000000,67890.00000,85764.300000

In [6]:
test = pd.read_csv('../processed_test.csv')

In [7]:
test.head()

,id,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,pickup_timeofday,pickup_ispeak,pickup_day,pickup_borough,dropoff_borough,distance,car_distance
0,id3004672,1,2016-06-30 23:59:58,1,-73.988129,40.732029,-73.990173,40.756680,N,night,False,3,manhattan,manhattan,2743,3795.9
1,id3505355,1,2016-06-30 23:59:53,1,-73.964203,40.679993,-73.959808,40.655403,N,night,False,3,brooklyn,brooklyn,2756,2901.6
2,id1217141,1,2016-06-30 23:59:47,1,-73.997437,40.737583,-73.986160,40.729523,N,night,False,3,manhattan,manhattan,1307,1501.9
3,id2150126,2,2016-06-30 23:59:41,1,-73.956070,40.771900,-73.986427,40.730469,N,night,False,3,manhattan,manhattan,5267,6661.1
4,id1598245,1,2016-06-30 23:59:33,1,-73.970215,40.761475,-73.961510,40.755890,N,night,False,3,manhattan,manhattan,962,1108.1

In [8]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 625134 entries, 0 to 625133
Data columns (total 16 columns):
id                    625134 non-null object
vendor_id             625134 non-null int64
pickup_datetime       625134 non-null object
passenger_count       625134 non-null int64
pickup_longitude      625134 non-null float64
pickup_latitude       625134 non-null float64
dropoff_longitude     625134 non-null float64
dropoff_latitude      625134 non-null float64
store_and_fwd_flag    625134 non-null object
pickup_timeofday      625134 non-null object
pickup_ispeak         625134 non-null bool
pickup_day            625134 non-null int64
pickup_borough        624685 non-null object
dropoff_borough       622513 non-null object
distance              625134 non-null int64
car_distance          625128 non-null float64
dtypes: bool(1), float64(5), int64(4), object(6)
memory usage: 72.1+ MB

# Convert the time into Hours, Minutes and Seconds

In [9]:
train['pickup_datetime'] = train['pickup_datetime'].apply(pd.to_datetime)

In [10]:
train['pickup_hour'] = train['pickup_datetime'].dt.hour

In [11]:
train['pickup_mins'] = train['pickup_datetime'].dt.minute

In [12]:
train['pickup_secs'] = train['pickup_datetime'].dt.second

In [13]:
train['dropoff_datetime'] = train['dropoff_datetime'].apply(pd.to_datetime)

In [14]:
train['dropoff_hour'] = train['dropoff_datetime'].dt.hour

In [15]:
train['dropoff_mins'] = train['dropoff_datetime'].dt.minute

In [16]:
train['dropoff_secs'] = train['dropoff_datetime'].dt.second

In [17]:
test['pickup_datetime'] = test['pickup_datetime'].apply(pd.to_datetime)

In [18]:
test['pickup_hour'] = test['pickup_datetime'].dt.hour

In [19]:
test['pickup_mins'] = test['pickup_datetime'].dt.minute

In [20]:
test['pickup_secs'] = test['pickup_datetime'].dt.second

In [21]:
train.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,...,pickup_borough,dropoff_borough,distance,car_distance,pickup_hour,pickup_mins,pickup_secs,dropoff_hour,dropoff_mins,dropoff_secs
0,id3628018,2,2016-04-28 00:11:32,2016-04-28 00:18:39,1,-74.001747,40.726269,-73.987221,40.720470,N,...,manhattan,manhattan,1386,1822.9,0,11,32,0,18,39
1,id2990498,2,2016-01-15 14:23:04,2016-01-15 14:45:48,1,-73.974228,40.746971,-73.957207,40.785931,N,...,manhattan,manhattan,4559,6979.4,14,23,4,14,45,48
2,id0522450,1,2016-06-01 00:52:02,2016-06-01 01:20:55,1,-73.984909,40.745129,-73.885300,40.747421,N,...,manhattan,queens,8417,9450.2,0,52,2,1,20,55
3,id1985934,2,2016-04-29 09:20:47,2016-04-29 09:29:40,4,-73.994507,40.755333,-73.994942,40.736542,N,...,manhattan,manhattan,2087,2859.0,9,20,47,9,29,40
4,id3861553,2,2016-01-13 21:06:10,2016-01-13 21:18:43,1,-73.997017,40.717991,-73.977028,40.685154,N,...,manhattan,brooklyn,4019,4250.2,21,6,10,21,18,43

# Process the Data

In [22]:
def pickup_timeofday_numeric(x):
    if x == 'midnight':
        return 0
    elif x == 'morning':
        return 1
    elif x == 'afternoon':
        return 2
    elif x == 'night':
        return 3

In [23]:
def ispeak_numeric(x):
    if x == False:
        return 0
    else:
        return 1

In [24]:
train['pickup_ispeak'] = train['pickup_ispeak'].apply(lambda x: ispeak_numeric(x))

In [25]:
train['dropoff_ispeak'] = train['dropoff_ispeak'].apply(lambda x: ispeak_numeric(x))

In [26]:
test['pickup_ispeak'] = test['pickup_ispeak'].apply(lambda x: ispeak_numeric(x))

In [27]:
train['pickup_timeofday'] = train['pickup_timeofday'].apply(lambda x: pickup_timeofday_numeric(x))
train['dropoff_timeofday'] = train['dropoff_timeofday'].apply(lambda x: pickup_timeofday_numeric(x))

test['pickup_timeofday'] = test['pickup_timeofday'].apply(lambda x: pickup_timeofday_numeric(x))

### For the borough, since there are nan

In [28]:
def borough_mapping(x): 
    if x == 'manhattan':
        return 0
    elif x == 'brooklyn':
        return 1
    elif x == 'queens':
        return 2
    else:
        return 3

In [29]:
train['pickup_borough'] = train['pickup_borough'].apply(lambda x: borough_mapping(x))
train['dropoff_borough'] = train['dropoff_borough'].apply(lambda x: borough_mapping(x))

test['pickup_borough'] = test['pickup_borough'].apply(lambda x: borough_mapping(x))
test['dropoff_borough'] = test['dropoff_borough'].apply(lambda x: borough_mapping(x))

In [30]:
def flag_numeric(x):
    if x == 'N':
        return 0
    else:
        return 1

In [31]:
train['store_and_fwd_flag'] = train['store_and_fwd_flag'].apply(lambda x: flag_numeric(x))

In [32]:
test['store_and_fwd_flag'] = test['store_and_fwd_flag'].apply(lambda x: flag_numeric(x))

In [33]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 27 columns):
id                    100000 non-null object
vendor_id             100000 non-null int64
pickup_datetime       100000 non-null datetime64[ns]
dropoff_datetime      100000 non-null datetime64[ns]
passenger_count       100000 non-null int64
pickup_longitude      100000 non-null float64
pickup_latitude       100000 non-null float64
dropoff_longitude     100000 non-null float64
dropoff_latitude      100000 non-null float64
store_and_fwd_flag    100000 non-null int64
trip_duration         100000 non-null int64
pickup_timeofday      100000 non-null int64
pickup_ispeak         100000 non-null int64
pickup_day            100000 non-null int64
dropoff_timeofday     100000 non-null int64
dropoff_ispeak        100000 non-null int64
dropoff_day           100000 non-null int64
pickup_borough        100000 non-null int64
dropoff_borough       100000 non-null int64
distance              100000 non-null int64
car_distance          99997 non-null float64
pickup_hour           100000 non-null int64
pickup_mins           100000 non-null int64
pickup_secs           100000 non-null int64
dropoff_hour          100000 non-null int64
dropoff_mins          100000 non-null int64
dropoff_secs          100000 non-null int64
dtypes: datetime64[ns](2), float64(5), int64(19), object(1)
memory usage: 21.4+ MB

In [34]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 625134 entries, 0 to 625133
Data columns (total 19 columns):
id                    625134 non-null object
vendor_id             625134 non-null int64
pickup_datetime       625134 non-null datetime64[ns]
passenger_count       625134 non-null int64
pickup_longitude      625134 non-null float64
pickup_latitude       625134 non-null float64
dropoff_longitude     625134 non-null float64
dropoff_latitude      625134 non-null float64
store_and_fwd_flag    625134 non-null int64
pickup_timeofday      625134 non-null int64
pickup_ispeak         625134 non-null int64
pickup_day            625134 non-null int64
pickup_borough        625134 non-null int64
dropoff_borough       625134 non-null int64
distance              625134 non-null int64
car_distance          625128 non-null float64
pickup_hour           625134 non-null int64
pickup_mins           625134 non-null int64
pickup_secs           625134 non-null int64
dtypes: datetime64[ns](1), float64(5), int64(12), object(1)
memory usage: 90.6+ MB

In [35]:
train = train.fillna(-1)

In [36]:
test = test.fillna(-1)

## Split the Data

In [37]:
from sklearn.model_selection import train_test_split

X = train.drop(['id', 'vendor_id', 'pickup_datetime', 'dropoff_datetime', 'dropoff_hour', 'dropoff_mins', 'dropoff_secs', 'dropoff_timeofday', 'dropoff_ispeak', 'dropoff_day', 'trip_duration'], axis = 1)
y = train['trip_duration']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

# With Feature Engineering

# Random Forest Regressor

In [50]:
from sklearn.ensemble import RandomForestRegressor

In [51]:
forest_reg = RandomForestRegressor(random_state=101)
forest_reg.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=101, verbose=0, warm_start=False)

In [52]:
print('Random Forest R squared": %.4f' % forest_reg.score(X_test, y_test))

Random Forest R squared": -0.1293

In [53]:
y_pred = forest_reg.predict(X_test)
forest_mse = mean_squared_error(y_pred, y_test)
forest_rmse = np.sqrt(forest_mse)
print('Random Forest RMSE: %.4f' % forest_rmse)

Random Forest RMSE: 3668.7611

In [54]:
from sklearn.metrics import mean_absolute_error
forest_mae = mean_absolute_error(y_pred, y_test)
print('Random Forest MAE: %.4f' % forest_mae)

Random Forest MAE: 490.5427

# Kaggle Submission

In [55]:
kaggle_forest_reg = RandomForestRegressor(random_state=101)
kaggle_forest_reg.fit(X, y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=101, verbose=0, warm_start=False)

In [56]:
y_pred = kaggle_forest_reg.predict(test_X)

In [57]:
submission_forest_csv = pd.DataFrame({'id': test['id'], 'trip_duration': y_pred})
submission_forest_csv.to_csv('nyc_kaggle_random_forest.csv')

# Linear Regressor

In [58]:
from sklearn.linear_model import LinearRegression

In [59]:
lm = LinearRegression()

In [60]:
lm.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [61]:
predictions = lm.predict(X_test)

In [62]:
print('Linear Regression R squared": %.4f' % lm.score(X_test, y_test))

Linear Regression R squared": 0.0245

In [63]:
from sklearn.metrics import mean_squared_error
lin_mse = mean_squared_error(predictions, y_test)
lin_rmse = np.sqrt(lin_mse)
print('Linear Regression RMSE: %.4f' % lin_rmse)

Linear Regression RMSE: 3409.7435

In [64]:
from sklearn.metrics import mean_absolute_error
lin_mae = mean_absolute_error(predictions, y_test)
print('Linear Regression MAE: %.4f' % lin_mae)

Linear Regression MAE: 453.9264

# Kaggle Submission

In [65]:
lm.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [66]:
y_pred = lm.predict(test_X)

In [67]:
submission_lm_csv = pd.DataFrame({'id': test['id'], 'trip_duration': y_pred})
submission_lm_csv.to_csv('nyc_kaggle_linear_regression.csv')

# XGBoost

In [68]:
from xgboost import XGBRegressor
from xgboost import plot_importance
import matplotlib.pyplot as plt

In [86]:
model = XGBRegressor()
model.fit(X, y)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [87]:
y_pred = model.predict(test_X)

In [ ]:
plot_importance(model)
plt.show()

In [88]:
submission_xgboost_csv = pd.DataFrame({'id': test['id'], 'trip_duration': y_pred})
submission_xgboost_csv.to_csv('nyc_kaggle_xgboost.csv')

# Without Feature Engineering Data

In [97]:
train_data = pd.read_csv('../train.csv')
test_data = pd.read_csv('../test.csv')

In [101]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 11 columns):
id                    1458644 non-null object
vendor_id             1458644 non-null int64
pickup_datetime       1458644 non-null object
dropoff_datetime      1458644 non-null object
passenger_count       1458644 non-null int64
pickup_longitude      1458644 non-null float64
pickup_latitude       1458644 non-null float64
dropoff_longitude     1458644 non-null float64
dropoff_latitude      1458644 non-null float64
store_and_fwd_flag    1458644 non-null object
trip_duration         1458644 non-null int64
dtypes: float64(4), int64(3), object(4)
memory usage: 122.4+ MB

In [103]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 625134 entries, 0 to 625133
Data columns (total 9 columns):
id                    625134 non-null object
vendor_id             625134 non-null int64
pickup_datetime       625134 non-null object
passenger_count       625134 non-null int64
pickup_longitude      625134 non-null float64
pickup_latitude       625134 non-null float64
dropoff_longitude     625134 non-null float64
dropoff_latitude      625134 non-null float64
store_and_fwd_flag    625134 non-null object
dtypes: float64(4), int64(2), object(3)
memory usage: 42.9+ MB

In [111]:
train_data['store_and_fwd_flag'] = train_data['store_and_fwd_flag'].apply(lambda x: flag_numeric(x))

In [112]:
test_data['store_and_fwd_flag'] = test_data['store_and_fwd_flag'].apply(lambda x: flag_numeric(x))

In [113]:
train_X = train_data.drop(['id', 'vendor_id', 'pickup_datetime', 'dropoff_datetime', 'trip_duration'], axis = 1)
train_y = train_data['trip_duration']

# Random Forest

In [118]:
kaggle_forest_reg_no_feat= RandomForestRegressor(random_state=101)
kaggle_forest_reg_no_feat.fit(train_X, train_y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=101, verbose=0, warm_start=False)

In [119]:
y_pred = kaggle_forest_reg_no_feat.predict(test_X)

In [120]:
submission_csv = pd.DataFrame({'id': test_data['id'], 'trip_duration': y_pred})
submission_csv.to_csv('nyc_random_forest_no_feature.csv')

# XGBoost

In [123]:
model = XGBRegressor()
model.fit(train_X, train_y)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [124]:
y_pred = model.predict(test_X)

In [125]:
submission_xgboost_csv = pd.DataFrame({'id': test_data['id'], 'trip_duration': y_pred})
submission_xgboost_csv.to_csv('nyc_kaggle_xgboost_no_feature.csv')

# Linear Regression

In [127]:
lm.fit(train_X, train_y)
y_pred = lm.predict(test_X)

In [128]:
submission_lm_csv = pd.DataFrame({'id': test_data['id'], 'trip_duration': y_pred})
submission_lm_csv.to_csv('nyc_kaggle_linear_regression_no_feature.csv')

# Just the 5 most import features

In [130]:
train_impt_features = train[['car_distance', 'distance', 'pickup_hour', 'pickup_day', 'pickup_longitude']]

In [132]:
train_y = train['trip_duration']

In [133]:
test_impt_features = test[['car_distance', 'distance', 'pickup_hour', 'pickup_day', 'pickup_longitude']]

# XGBoost

In [135]:
model = XGBRegressor()
model.fit(train_impt_features, train_y)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [136]:
y_pred = model.predict(test_impt_features)

In [137]:
submission_xgboost_5impt_csv = pd.DataFrame({'id': test['id'], 'trip_duration': y_pred})
submission_xgboost_5impt_csv.to_csv('nyc_kaggle_xgboost_top5_feature.csv')

# Random Forest

In [138]:
kaggle_forest_reg_5_feat= RandomForestRegressor(random_state=101)
kaggle_forest_reg_5_feat.fit(train_impt_features, train_y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=101, verbose=0, warm_start=False)

In [139]:
y_pred = kaggle_forest_reg_5_feat.predict(test_impt_features)

In [140]:
submission_csv = pd.DataFrame({'id': test['id'], 'trip_duration': y_pred})
submission_csv.to_csv('nyc_random_forest_top5_feature.csv')